@import 'Assets/css/var';

.post-section {
  .body {
    padding: 2rem 5rem;
    .filter-wrap {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .filter-post {
        padding: 1rem;
        border: 1px solid $clr-grey;
        color: $clr-body;
      } 
      .add-post-btn{
        text-decoration: none;
        color: $clr-dark;
      }
    }
  }
  .post-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 2rem 0;
  }
}
