@import '../../Assets/css/var';

.head {
  background: $clr-body;
  display: flex;
  justify-content: space-between;
  padding: 2rem 5rem;
  align-items: center;
  .head-title {
    color: #fff;
    font-weight: bolder;
    text-transform: uppercase;
  }
  .l-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    .user {
      color: #fff;
      &.username {
        font-weight: bolder;
        svg {
          font-size: 18px;
        }
      }
      &.active {
        border-bottom: 1px solid;
      }
    }
  }
}
